## General Files
.cache
.vagrant
browser
cache
docs
emulationstation
launchers
mame
media
node_modules
nvram
package-lock.json
package.json
settings.py
Vagrantfile
venv

## Compiled Object files
*.lo
*.o
*.slo

## Compiled Dynamic libraries
*.so

## Compiled Static libraries
*.a
*.la
*.lai

## Dependency makefiles
*.d

## build directory
build
Debug
MinSizeRel
Release
RelWithDebInfo

## CMake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile