*.bak*
*.egg-info/
*.pyc
.cache
.coverage
.pytest_cache/
.venv/
__pycache__/
bin/
build/
cache
dist/
gui
htmlcov/
import/
instance/
static/assets/*
static/games/*
static/img/*
!static/assets/.gitkeep
!static/games/.gitkeep
!static/img/.gitkeep
test.*
v0.3.1/