@charset "utf-8"

$default_width: 128mm // Blu ray box width
$print-padding: 10mm // 37.79px
$spine-width: $print-padding
$case-width: 142mm // 536.69px
$case-height: 125mm // 472.44px

$black: #000000
$mineshaft: #333333
$boulder: #777777
$silver: #CCCCCC
$white: #FFFFFF

$sheer_black: rgba(0,0,0,0.8)
$sheer_mineshaft: rgba(51,51,51,0.8)
$sheer_boulder: rgba(119,119,119,0.8)
$sheer_silver: rgba(204,204,204,0.8)
$sheer_white: rgba(255,255,255,0.8)

html
  font-size: 62.5%

body
  font-size: 1.4em
  font-family: sans-serif

article#detail
    width: $default_width
    margin: 0 auto
    font-size: 1.0em

.template
    margin: 0 auto
    width: $case-width + ($spine-width * 2)
    display: grid
    grid-template-columns: $print-padding $case-width $print-padding
    .spine
        width: $print-padding
        display: block
        position: relative
        // height: $case-height
        .spine-content
            margin-left: 11mm
            width: $case-height
            transform-origin: 0 0
            transform: rotate(90deg)
            display: grid
            grid-template-columns: 1fr 10fr 1fr
            justify-content: stretch
            img.spine-icon
                width: 4mm
                padding: 3mm
            .spine-middle
                text-align: center
                font-size: 4mm
                padding: 2mm 0
            .spine-right
                text-align: right
    // .left
    //     margin-left: $print-padding
    // .right
    //     margin-right: $print-padding

#case-front, #case-back
    width: $case-width - ($print-padding * 2)
    height: $case-height - ($print-padding * 2)
    padding: $print-padding
    border: 4px solid #000000

#case-front
    position: relative
    div#logo
        width: 66%
        height: auto
        margin: 0 auto
        position: relative
        img
            width: 100%
            height: auto
    div#case-icons
        text-align: right 
        position: absolute
        right: 10mm
        bottom: 10mm
        display: flex
        justify-content: flex-end
        img
            margin-left: 4mm

article#case-back
    font-size: 0.8em
    display: grid
    #logo
        img
            width: 40%
    #details
        display: flex
        flex-wrap: wrap
        gap: 2.0em
        justify-content: space-between
        table
            width: 100%
            td
                text-align: right
            th
                text-align: left

    #labels
        display: grid
        #esrb
            width: 40mm
            height: 20mm
            margin: 0
            padding: 0
            display: flex
            img#esrb-rating
                height: 100%
                margin: 0
                padding: 0
            #esrb-cd
                width: 100%
                margin: 0
                padding: 0
                border-top: 3px solid $black
                border-right: 3px solid $black
                border-bottom: 3px solid $black
                display: grid
                gap: 0
                align-items: center
                p.cd-tag
                    padding: 0
                    margin: 0 0 0 2mm
                    font-size: 2mm


    #spine
        width: 10mm

    // section
    //     padding: 10mm 10mm 0 10mm

    .icon
        height: 20mm

    .logo
        width: 30mm

#display
    width: $default_width
    height: auto
    background-image: url(img/display.png)
    background-size: 100% 100%
    background-position: center
    position: relative
    z-index: 0
    section#display-tags
        text-align: right
        position: absolute
        bottom: 0
        right: 0
        z-index: 10
        div.tag
            margin: 0.4em 0
            padding: 0.4em
            background-color: $sheer_white
            border-radius: 0.4em
            border: 1px solid $silver

#platform-icon
    max-width: 25mm

// section#system-requirements
//     table
//         width: 100%

@media print
    .no-print, .no-print *
        display: none !important
