{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Video Game Database{% endblock %}&nbsp;&nbsp;|&nbsp;&nbsp;Empr</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<style>
		.box { display: none }
	</style>
	
</head>

<body{% if game.wallpaper %} style="background-image: url('{{ game.wallpaper.url }}'); background-repeat: no-repeat; background-size: 1920px 1080px;"{% endif %}>

	<div id="header">
		<div class="container">
			<div class="row">
				<div id="title" class="six columns">
					<h1><a class="link" href="/">empr</a></h1>
				</div>

				<div class="six columns right">
					<form action="{% url 'games:search_results' %}" method="get">
						<input class="input is-rounded" name="q" type="text" placeholder="Search...">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="admin_panel">
		<ul>
			{% if game.id %}
			<li><a href="/admin/games/game/{{ game.id }}/change/">Edit Game</a></li>
			{% else %}
			<li><a href="/admin/games/game/add/">Add Game</a></li>
			{% endif %}
			<li><a href="/admin/games/game/">Games</a></li>
			<li><a href="/admin/games/platform/">Platforms</a></li>
			<!-- <hr> -->
			<!-- <li><a href="/test/">Test</a></li> -->
			<!-- <li><a href="/scrape_game/">scrape_game</a></li> -->
		</ul>
	</div>

	<div id="page">
		<div id="content" class="container">
			<div class="row">
				<div class="nine columns">
					{% block content %}{% endblock %}
				</div>

				<div class="three columns">
					{% block sidebar %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="six columns">
					<p>&nbsp;</p>
				</div>

				<div class="six columns right">
					<p>Powered by Django</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>