<h4 onclick="toggle('platformBox', 'box')">Platforms</h4>
<div id="platformBox" class="box">
	{% for p in platforms %}
		<p><a href="/platform/{{ p.id }}">{{ p.name }}</a></p>
	{% endfor %}
</div>

<h4 onclick="toggle('genreBox', 'box')">Genres</h4>
<div id="genreBox" class="box">
	{% for g in genres %}
		<p><a href="/genre/{{ g.id }}">{{ g.name }}</a></p>
	{% endfor %}
</div>

<h4 onclick="toggle('tagBox', 'box')">Tags</h4>
<div id="tagBox" class="box">
	{% for t in tags %}
		<p><a href="/tag/{{ t.id }}">{{ t.name }}</a></p>
	{% endfor %}
</div>

<h4 onclick="toggle('collectionBox', 'box')">Collections</h4>
<div id="collectionBox" class="box">
	{% for c in collections %}
		<p><a href="/collection/{{ c.id }}">{{ c.name }}</a></p>
	{% endfor %}
</div>