{% extends "games/base.html" %}
{% load markdown %}
{% block title %}{{ game.title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="ten columns">
		<h2>{{ game.title }}</h2>
		{% if game.collection %}<em>Part of the <a href="/collection/{{ game.collection_id }}/">{{ game.collection.name }} Collection</a></em>{% endif %}
	</div>

	<div class="two columns right">
		{% if game.platform.icon %}<img class="platform_icon" src="{{ game.platform.icon.url }}" title="{{ game.platform.full_name }}">{% endif %}
	</div>
</div>

<hr>

<div class="row">
	<div class="six columns">
		<b>{{ game.genre }}</b>
		{% if game.tags %}<br>{{ game.get_game_tags }}{% endif %}
	</div>

	<div class="six columns right">
		<b>{{ game.get_player_display }}</b>
		{% if game.co_op %}<br>Co-Op{% endif %}			
		{% if game.online_multiplayer %}<br>Online Mulitplayer{% endif %}
	</div>
</div>

<hr>

<div class="row">
	<div class="twelve columns">
		{{ game.description|linebreaks|safe }}

		{% if game.notes %}
		<hr>
		<p>{{ game.notes | markdown | safe }}</p>
		{% endif %}
	</div>
</div>

<div class="row">
	<table class="grid-info">
		<tr>
			<td>
				{% if game.esrb %}
					<img class="icon" src="/static/imgs/esrb/{{ game.get_esrb_display|slugify }}.png" title="ESRB Rating">
				{% endif %}
			</td>
			<td>{{ game.get_esrb_display }}</td>
		</tr>

		<tr>
			<td>
				{% if game.controller_support %}
					<img class="icon" src="/static/imgs/icons/controller.png" title="Controller Support">
				{% endif %}
			</td>
			<td>
				{% if game.controller_support %}
					<span>Controller Support</span>
				{% endif %}
			</td>
		</tr>
	</table>

	<table>
		{% if game.icon %}
			<tr>
				<td>Icon</td>
				<td><img src="{{ game.icon.url }}"></td>
			</tr>
		{% endif %}

		{% if game.title_image %}
			<tr>
				<td>Title</td>
				<td><img class="title-image" src="{{ game.title_image.url }}"></td>
			</tr>
		{% endif %}
	</table>
</div>

<div class="row right">
	{% if game.installed %}<button><a href="/launcher/{{ game.id }}">Launch Game</a></button>{% endif %}
</div>

<div class="row right">
	{% if game.installed_remote %}<button><a href="/launcher_remote/{{ game.id }}">Launch on Arcade</a></button>{% endif %}
</div>
{% endblock %}

{% block sidebar %}
{% if game.boxart %}
<img class="boxart" src="{{ game.boxart.url }}" title="{{ game.title }}">
{% endif %}

<table class="u-full-width">
	{% if game.developer %}
	<tr>
		<td>Developer</td>
		<td class="right">{{ game.developer }}</td>
	</tr>
	{% endif %}
	
	{% if game.publisher %}
	<tr>
		<td>Publisher</td>
		<td class="right">{{ game.publisher }}</td>
	</tr>
	{% endif %}

	{% if game.release_date %}
	<tr>
		<td>Release Date</td>
		<td class="right">{{ game.release_date }}</td>
	</tr>
	{% endif %}
</table>
{% endblock %}
