{% extends "games/base.html" %}
{% load markdown %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}

<div class="row">
	{% if game.display %}
	<div class="twelve columns">
		<img class="game-display" src="{{ game.display.url }}" title="{{ game.title }}">
	</div>
	{% elif game.boxart %}
	<div class="twelve columns">
		<img class="game-boxart" src="{{ game.boxart.url }}" title="{{ game.title }}">
	</div>
	{% endif %}
</div>

<div class="row">
	<div class="twelve columns">
		<hr>
		{{ game.description }}
		<hr>
	</div>
</div>

<div class="row">
	<div class="eight columns">
		<h4>Game Information</h4>
		
		<table class="u-full-width">
			<tr>
				<td><strong>Sort Title</strong></td>
				<td>{{ game.sort_title }}</td>
			</tr>
			
			{% if game.collection %}
			<tr>
				<td>Collection</td>
				<td><a href="/collection/{{ game.collection_id }}/">{{ game.collection.name }} Collection</a></td>
			</tr>
			{% endif %}
			
			<tr>
				<td><strong>Genre</strong></td>
				<td>{{ game.genre }}</td>
			</tr>

			{% if game.get_game_tags %}
			<tr>
				<td><strong>Tags</strong></td>
				<td>{{ game.get_game_tags }}</td>
			</tr>
			{% endif %}

			<tr>
				<td><strong>Perspective</strong></td>
				<td>{{ game.get_perspective_display }}</td>
			</tr>
			<tr>
				<td><strong>Release Date</strong></td>
				<td>{{ game.release_date }}</td>
			</tr>
			<tr>
				<td><strong>Developer</strong></td>
				<td>{{ game.developer }}</td>
			</tr>
			<tr>
				<td><strong>Publisher</strong></td>
				<td>{{ game.publisher }}</td>
			</tr>
			<tr>
				<td><strong>ESRB Rating</strong></td>
				<td>{{ game.esrb }}</td>
			</tr>
			<tr>
				<td><strong>Region</strong></td>
				<td>{{ game.get_region_display }}</td>
			</tr>

			{% if game.store %}
			<tr>
				<td><strong>Store</strong></td>
				<td>{{ game.get_store_display }}</td>
			</tr>
			{% endif %}
		</table>

		{% if game.operating_system %}

		<h4>System Requirements</h4>
		<table class="u-full-width">
			<tr>
				<td><strong>OS</strong></td>
				<td>{{ game.operating_system }}</td>
			</tr>
			<tr>
				<td><strong>CPU</strong></td>
				<td>{{ game.processor }}</td>
			</tr>
			<tr>
				<td><strong>RAM</strong></td>
				<td>{{ game.ram }}</td>
			</tr>
			<tr>
				<td><strong>HDD</strong></td>
				<td>{{ game.hdd }}</td>
			</tr>
			<tr>
				<td><strong>GPU</strong></td>
				<td>{{ game.gpu }}</td>
			</tr>

		</table>

		{% endif %}
	</div>

	<div class="four columns">
		<h4>Assets</h4>
		<div class="images">
			{% if game.boxart %}
			<div class="row">
				<div class="five columns">Boxart</div>

				<div class="six columns">
					<img class="u-pull-right" src="{{ game.boxart.url }}">
				</div>
			</div><hr>
			{% endif %}

			{% if game.screenshot %}
			<div class="row">
				<div class="five columns">Screenshot</div>

				<div class="six columns">
					<img class="u-pull-right" src="{{ game.screenshot.url }}">
				</div>
			</div><hr>
			{% endif %}

			{% if game.title_image %}
			<div class="row">
				<div class="five columns">Title Image</div>

				<div class="six columns">
					<img class="u-pull-right" src="{{ game.title_image.url }}">
				</div>
			</div><hr>
			{% endif %}

			{% if game.icon %}
			<div class="row">
				<div class="five columns">Icon</div>

				<div class="six columns">
					<img class="icon u-pull-right" src="{{ game.icon.url }}">
				</div>
			</div><hr>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

{% block sidebar %}
{% include "games/default_sidebar.html" %}
{% endblock %}